# WA Engine (server-side only)
WA_ENGINE_URL=https://wa.kontroapi.com
WA_ENGINE_INTERNAL_SECRET=

# Auth
JWT_SECRET=please-change-this-to-a-32-character-or-longer-random-string

# Database (for dashboard-side queries)
LOCAL_DB_URL=postgresql://kontroapi:kontroapi@localhost:5432/kontroapi

# NaafiPay (billing)
NAAFIPAY_API_KEY=pg_live_09de01ce6ad7e95b9fc1293b53a01ef441cfc750266f1440
NAAFIPAY_WEBHOOK_SECRET=whsec_370ce42032b5dea4e6bfd39f98578d0287dbd96c69917d935df297e268a25a62

# Optional: for development
NEXT_PUBLIC_WA_ENGINE_URL=http://localhost:3000
